{% extends "base.html" %}
{% block title %}create attoyap{% endblock %}
{% block quick_links %}
     | <a href="/femtoyaps/{{ femtoyap_id }}">Return to the femtoyap</a>
     | <a href="/femtoyaps/{{ femtoyap_id }}/attoyaps/create">Create a new attoyap</a>
{% endblock %}
{% block header %}create attoyap{% endblock %}
{% block content %}
    <form action="/femtoyaps/{{ femtoyap_id }}/attoyaps/create" method="POST">
        FILL IN ALL NECESSARY INFO.<br>
        <div class="restrictions">
            Restrictions:
            <ul>
                {% for restriction in restrictions %}
                    <li>{{ restriction }}</li>
                {% endfor %}
            </ul>
        </div>
        <hr>
        Attoyap title:<br>
        <input type="text" name="attoyap_title">
        <hr>
        Starting zeptoyap:<br>
        <textarea name="zeptoyap_content" rows="20" cols="100"></textarea><br>
        <hr>
        <input type="submit" name="Confirm attoyap creation">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <hr>
    </form>
{% endblock %}