{% extends "base.html" %}
{% block title %}front page{% endblock %}
{% block quick_links %}{% endblock %}
{% block header %}front page{% endblock %}
{% block content %}
    PUBLIC FEMTOYAPS:
    <hr>
    {% for femtoyap in femtoyaps %}
        <a href="/femtoyaps/{{ femtoyap.id }}">{{ femtoyap.topic }}</a><br>
        attoyaps: {{ femtoyap.attoyap_count }} | zeptoyaps: {{ femtoyap.zeptoyap_count }}
        {% if femtoyap.latest_attoyap %}
             | latest attoyap: {{ femtoyap.latest_attoyap.strftime("%Y-%m-%d %H:%M:%S") }}
            {% if femtoyap.latest_zeptoyap %}
                 | latest zeptoyap: {{ femtoyap.latest_zeptoyap.strftime("%Y-%m-%d %H:%M:%S") }}
            {% endif %}
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}