{% extends "base.html" %}
{% block title %}login{% endblock %}
{% block quick_links %}{% endblock %}
{% block header %}login{% endblock %}
{% block content %}
    <form action="/login" method="POST">
        FILL IN ALL NECESSARY INFO:
        <hr>
        Username:<br>
        <input type="text" name="username">
        <hr>
        Password:<br>
        <input type="password" name="password">
        <hr>
        <input type="submit" name="Attempt login">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% endblock %}