{% extends "base.html" %}
{% block title %}signup{% endblock %}
{% block quick_links %}{% endblock %}
{% block header %}signup{% endblock %}
{% block content %}
    <form action="/signup" method="POST">
        FILL IN ALL NECESSARY INFO:
        <div class="restrictions">
            Restrictions:
            <ul>
                {% for restriction in restrictions %}
                    <li>{{ restriction }}</li>
                {% endfor %}
            </ul>
        </div>
        <hr>
        Username:<br>
        <input type="text" name="username">
        <hr>
        Password:<br>
        <input type="password" name="password">
        <hr>
        The same password again:<br>
        <input type="password" name="password_again">
        <hr>
        {% if session.username %}
            <input type="submit" name="Attempt logout and signup">
        {% else %}
            <input type="submit" name="Attempt signup">
        {% endif %}
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% endblock %}